@{
    ViewBag.Title = "Home Page";
}


<h1 class="Headline">Welcome to GC Coffee Shop! <a class="Links" href="/Home/RegistrationPage">Register</a></h1>


<link href="~/Content/Site.css" rel="stylesheet" />